h1, h2, h3, h4, h5, div, p, a, body {
  margin: 0;
  padding: 0;
}
* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Raleway', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nato Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.App {
  color: black;
  /* background-color: rgb(40, 44, 52); */
  color: white;
}
.container {
  position: relative;
  padding: 0 0 0 0;
  min-height: calc(100vh);
  max-width: 100vw;
}