.app-header {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  z-index: 300;
  margin: auto;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  color: black;
  align-items: center;
  justify-content: space-between;
  padding: 0 7.5vw;
  font-size: 1.4em;
  background-color: rgb(255, 255, 255);
  border-bottom:1px solid rgb(223, 223, 223);
  /* color: rgb(20, 20, 20); */
  transition: 0.5s 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.app-header.offset {
  background-color: rgb(143, 18, 60);
}
.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.home-link {
  margin-right: 40px;
}
.app-name {
  color: #0fa050;
  display: block;
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  /* text-shadow: 0 0 3px rgba(38, 44, 53, 0.2); */
  white-space: nowrap;
  margin: 0;
}
.app-name svg {
  margin: 0 2px 1px 1px;
  font-size: 0.85em;
}
.nav-link, .auth-link {
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
.nav-link li  {
  padding-bottom: 5px;
  padding-right: 20px;
}
.auth-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  height: 100%;
}
.welcome-user {
  font-family: 'Noto sans', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 0.6em;
  margin-right: 20px;
}
/* dev bar */
.development-bar {
  z-index: 100;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  right: 0;
  bottom: 0;
  width: 1.8rem;
  height: 1.8rem;
  font-family: 'PT Sans', sans-serif;
  font-size: 0.7em;
  font-weight: 500;
  border-radius: 2px;
  /* border-radius: 4px 4px 0 0; */
  transform: translate(0%, 0);
  background-color: rgb(31, 189, 80);
  box-shadow: 0 2px 4px 0 rgba(41, 41, 41, 0.2);
  overflow: hidden;
  white-space: nowrap;
  transition: 0.4s 0s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.development-bar.opened {
  width: 50%;
  height: 1.8rem;
  /* border-radius: 0px; */
}
.development-bar p {
  margin: 10px;
}
.development-bar a {
  font-weight: 700;
  margin: 10px;
}
.development-bar a:hover {
  z-index: 100;
  color: white;
  text-decoration: underline;
}
.development-bar .open-devbar {
  cursor: pointer;
  margin: 10px 10px;
  transition: 0.3s 0s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.development-bar.opened .open-devbar {
}
